*{
    font-family:system-ui;
    background-color: #5C7285;
}

.head{
    height: 60PX;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
} 
 
.name{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.port-name{
    display: contents;
    justify-content: flex-start;
    font-weight: 400;
    

    
    
}
#li-1{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#li-2{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#li-3{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#li-4{
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.main{
    height: 1000px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img{
    height:auto ;
    width:auto ;
    
}



