*{
    font-family:system-ui;
    background-color: #5C7285;
}
.project{
    display: flex;
    justify-content: center; 

}

.title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    position: sticky;
}   
.project-1{
    height:600px ;
    width:500px ;
    margin: 25px;
    
}
.project-2{
    height:600px ;
    width:500px ;
    margin: 25px;
    

}



    

